.git
.github
.env
.env.*
docs
nginx
scripts/*
!scripts/provision-postgres.sh
!scripts/provision-minio.sh
!scripts/restore-postgres.sh
!scripts/prepare-database-import.sh
SchoolBase-FE/.git
SchoolBase-FE/.next
SchoolBase-FE/node_modules
SchoolBase-BE/.git
SchoolBase-BE/dist
SchoolBase-BE/node_modules
*.sql
*.sql.gz
